.card-container {
  display: grid;
  grid-template-columns: 500px 500px 500px;
}

.card-champ {
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 400px;
  margin: 20px 0px;
}

.card-text h3, .card-text h1 {
  margin: 0 0 0 15px;
}